version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/var/www/html
    environment:
      - APP_ENV=testing
      - APP_DEBUG=true
      - DB_CONNECTION=mysql
      - DB_HOST=mysql
      - DB_DATABASE=testing
      - DB_USERNAME=root
      - DB_PASSWORD=password
    depends_on:
      - mysql
      - selenium

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: testing
    ports:
      - "3306:3306"

  selenium:
    image: selenium/standalone-chrome:latest
    ports:
      - "4444:4444"
      - "9515:9515"
    environment:
      - VNC_NO_PASSWORD=1








